html{
    scroll-behavior: smooth;
}

body{
    background-color: #88CAF0;
}

a:-webkit-any-link {
    color: navy;
    text-decoration: none;
  }

nav a:hover{
    text-shadow: 2px 2px 5px navy;
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -60px;
    }
    
.skip a:focus{
    top: 0px;
    }
    
*:focus{
      border-style: solid;
      border-width: 2px;
    }

nav>ul{
    display: flex;
    background-color: white;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    font-size: 18px;

}

li{
    background-color: white;
    color: navy;
    padding: 5px 10px 5px 10px;
}

nav>ul>li:nth-child(3){
    font-size: 130%;
    font-weight: bold;
    }


header{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 50px 0px 0px 0px;
    margin: auto;
}
header>h1{
    grid-column: 2/span 1;
    grid-row: 1;
}

#music1{
    width: auto; 
    height: auto;
    background-color: navy;
    grid-column: 3/span 1;
    grid-row: 1;
    animation-name: music1;
    animation-duration: 10s;
}
#music2{
    width: auto; 
    height: auto;
    background-color: navy;
    grid-column: 1/span 1;
    grid-row: 1;
    animation-name: music1;
    animation-duration: 10s;
}

#music3{
    display:none;
}
#music4{
    display:none;
}

  @keyframes music1 {
    0% {background-color: navy;}
    25% {background-color: purple;}
    50% {background-color: pink;}
    75%{background-color: purple;}
    100%{background-color: navy;}
  }

h1{ 
    color: white;
    font-size: 60px; 
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px navy;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: navy;
}

h2{
    text-align:center;
    font-weight: bold;
    color:navy;
    padding: 15px;
    font-size: 30px;
    text-shadow: 3px 3px 4px white;
}

div.platforms{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
    background-image: url("../imgs/WhiteLyre.png");   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
}

div>a{
    padding:5px 20px 5px 20px;
    background:white;
    border-style: solid;
    border-radius: 0.2px;
    border-color:navy;
    color: navy;
    box-shadow: 0px 2px 2px 2px white;
    font-size: 20px;
}

div>a{
    margin:auto;
    text-align: center;
}

iframe{
    display:block;
    margin:auto;
    width: auto;
    height:auto;
    padding-top: 30px;
}

h3{
    color: navy;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: dotted;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

p{
    text-align:center;
    color: navy;
}

footer p{
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 100%;
    text-shadow: none;
}
footer{
    padding-top: 30px;
    width: 100%;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){

    nav>ul{
        text-align: left;
        text-align:left;
        justify-content: left;
        width: auto;
        font-size: 22px;
        }
    
    h1{
        font-size: 80px;
        padding-top: 20px;
    }

    h3{
        font-size: 25px;
    }
    p{
        font-size:20px;
    }
    iframe{
        display:block;
        margin:auto;
        width: 500px;
        height:300px;
        padding-top: 30px;
    }

    div.platforms{
        padding-bottom: 40px;
        padding-top:20px;
    }

    div>a{
        padding:10px 25px 10px 25px;
        font-size: 25px;
    }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  nav>ul{
    text-align: left;
    text-align:left;
    justify-content: left;
    width: auto;
    }

    div.platforms{
        text-align: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
        background-size: 50%;
        z-index: 10;
    }
    
    div.platforms>h2{
        grid-column: 2/span 1;
    }

    header{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        padding: 50px 0px 0px 0px;
        margin: auto;
    }
    header>h1{
        grid-column: 1/span 1;
        grid-row: 1;
    }
    
    #music1{
        display: none;
    }
    #music2{
        display: none;
    }
    #music3{
        display:block;
        height: auto;
        background-color: navy;
        animation-name: music3;
        animation-duration: 10s;
        grid-column: 3/span 1;
        grid-row: 2/span 1;
        z-index: -1;
    }
    #music4{
        display:block;
        height: auto;
        background-color: navy;
        animation-name: music3;
        animation-duration: 10s;
        grid-column: 1/span 1;
        grid-row: 2/span 1;
        z-index: -1;
    }

    @keyframes music3 {
        0% {background-color: navy;}
        25% {background-color: purple;}
        50% {background-color: pink;}
        75%{background-color: purple;}
        100%{background-color: navy;}
      }

    #tube{
        grid-column:1/span 1;
        grid-row: 2/span 1;
    }
    #spot{
        grid-column:2/span 1;
        grid-row: 2/span 1;
    }
    #apple{
        grid-column:3/span 1;
        grid-row: 2/span 1;
    
    }
    div>a{
        padding:15px 30px 15px 30px;
        background:white;
        border-style: solid;
        border-radius: 0.2px;
        border-color:navy;
        color: navy;
        box-shadow: 0px 2px 2px 2px white;
        font-size: 30px;
    }
    p{
        font-size: 22px;
    }
    iframe{
        display:block;
        margin:auto;
        width: 800px;
        height:400px;
        padding-top: 30px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
    
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
    
    #music1{
        animation:none;
    }
    #music2{
        animation:none;
    }
    #music3{
        animation:none;
    }
    #music4{
        animation:none;
    }
}